body, * {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color:#ccc;
    background-color: #222;
}

h1 {
    font-family: "Savate", sans-serif;
    text-align: center;
    margin:2rem 0 1rem;
    font-size: 3rem;
    color: #8c0;
}

input, button, select {
    font-family: "Roboto", sans-serif;
    width: 10rem;
    margin: .5rem 0;
    padding: .25rem;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top;
    margin: 0 1rem 0 0;
}

div, pre {
    margin:1rem;
}

div:has(input, button, select) {
    display: inline-block;
}

pre {
    font-family: "Courier Prime", monospace;
    font-size: .9rem;
}

pre span {
    display: block;
}

.Legendary {
    color: #c90;
}

.Mythical {
    color: #90c;
}

.Epic {
    color: #c30;
}

.Rare {
    color: #cc0;
}

.Uncommon {
    color: #09c;
}

pre span.Glamorous, pre span.Strong, pre span.Magic, pre span.Fast, pre span.Lucky {
    font-weight: 600;
}